<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodies Market</title>
</head>
<body>
    <h3>Routes Description</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Method</th>
            <th scope="col">Path</th>
            <th scope="col">Description</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>FetchUsers</td>
            <td>/users</td>
            <td>get: Gets All Users</td>
          </tr>
          <tr>
            <td>FetchUser</td>
            <td>/users/:id</td>
            <td>get: Gets a Single User</td>
          </tr>
          <tr>
            <td>CreateUser</td>
            <td>/signup</td>
            <td>post: A User</td>
          </tr>
          <tr>
            <td>UpdateUser</td>
            <td>/user/:id</td>
            <td>put: Update a User</td>
          </tr>
          <tr>
            <td>DeleteUser</td>
            <td>/user/:id</td>
            <td>delete: Delete a User</td>
          </tr>
        </tbody>
      </table>
</body>
</html>